language: python
cache: pip

matrix:
  include:
    - python: 2.7
    - python: 3.5
    - python: 3.6
    - python: 3.7
    - python: 3.8
    - python: pypy
    - python: pypy3

install:
 - pip install coverage

script:
 - coverage run --source=olefile -m nose tests

after_success:
 - pip install coveralls
 - coveralls

after_script:
 - coverage report
 - pip install pycodestyle pyflakes
 - pyflakes .
 - pycodestyle --statistics --count .
